html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Macondo Swash Caps";
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.fighters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

.fighter__detail-wrapper {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.fighter__detail {
  position: relative;

  margin: 100px auto;

  width: 30%;
  padding: 30px;

  text-align: center;
  text-transform: uppercase;

  background-color: #fff;

  border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  border: 4px solid #000000;
}

.fighter__detail-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.fighter__detail-value--edit {
  margin-left: 10px;
  cursor: pointer;
  font-size: 10px;
}

.active {
  -webkit-box-shadow: 3px 9px 21px 10px rgba(232, 72, 80, 1);
  -moz-box-shadow: 3px 9px 21px 10px rgba(232, 72, 80, 1);
  box-shadow: 3px 9px 21px 10px rgba(232, 72, 80, 1);
}

.fight {
  flex-direction: row !important;
}

.fighterplayer {
  margin-right: 250px;
}
.fighterbot {
  margin-left: 250px;
}

.fighterbot img {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, 1);
}

.dead {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fighterbot .name,
.fighterplayer .name,
.fighterbot .fighter-choose,
.fighterplayer .fighter-choose {
  display: none;
}
#root {
  background-image: url("../../resources/background.jpg");
  background-position: bottom;
  background-size: cover;
}

.progress-status {
  width: 300px;
  background-color: red;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: green;
}

.progress-status {
  position: absolute;
}

.progress-status.player,
.progress-status.bot {
  top: 40px;
}

.progress-status.player {
  left: 250px;
}

.progress-status.bot {
  right: 250px;
}

.hit,
.restart {
  position: absolute;
  margin: auto;
  top: 40px;
}

.start-fight {
  position: absolute;
  top: 80px;
}

button {
  padding: 7px 30px;
  cursor: pointer;

  background-color: lightsteelblue;

  font-family: "Macondo Swash Caps";
  font-size: 24px;
}

button:hover {
  background-color: darkseagreen;
}

@keyframes bothit {
  0% {
    margin-left: 250px;
  }
  30% {
    margin-left: 300px;
  }
  60% {
    margin-left: -50px;
  }
  100% {
    margin-left: 250px;
  }
}

@keyframes playerhit {
  0% {
    margin-right: 250px;
  }
  30% {
    margin-right: 300px;
  }
  60% {
    margin-right: -50px;
  }
  100% {
    margin-right: 250px;
  }
}

.hitbotAnim {
  animation: bothit 1s;
}
.hitplayerAnim {
  animation: playerhit 1s;
}
